*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first{
    
    background-color: black;
    color: white;
    padding: 5px;
    height: 50px;
}
.second{
    background: url(./hero-bcg.jpg);
    height:calc(100vh - 50px);
    width: 100vw;
    opacity: 0.7;
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 35px;
    
}
.third{
    background-color: rgba(236, 162, 110, 0.623);
    color: white;
    padding: 5px;
    
}